// Colors
// Brand
$clr-brand-primary: #e50914;
$clr-brand-secondary: #000000;
// Page
$clr-neutral-ltst: #ffffff;
$clr-neutral-ltr: #e5e5e5;
$clr-neutral-lt: #b1b1b1;
$clr-neutral: #646464;
$clr-neutral-dk: #181818;
$clr-neutral-dkr: #141414;
$clr-neutral-dkst: #111111;
// Transparency
$clr-trasparent-black: #00000000;
$clr-trasparent-black-50: #00000080;